# .env.example — образец, в GitHub хранится только он
TG_TOKEN=7569165346:AAEUB4dm2YIUm3Glc7vKfpT3EEJ0JyIOKWo
OPENAI_API_KEY=k-proj-RlKjo6uq21WoUxvEhxEVecQzftUg-4g-4Lv-nxI1gWZhOzlD7oS7TBKsvEihonDnTXvFxzBeokT3BlbkFJ4TjoAD6b9-E6JMvteTO5z0x0garK5HNBYUL0sT0ffWBD2xB9Vjbc_U-titGs9UuY75MVgQoH8A
RAILWAY_URL=https://cosmeticbot-production.up.railway.app
